// Global Variables

@primary-dark: #5d2693;
@primary-light: lighten(@primary-dark, 20%);
@secondary-dark: blue;

// Responsiveness
@topbar-height-desktop: 45px;
@topbar-height-mobile: 40px;
@sidebar-width-desktop: 450px;
@sidebar-width-mobile: 350px;

@breakwidth: 1000px;
@trans-time: 600ms;


body {
  font-size: 16px;
}
.container {
    padding-top: 30px;
}


// Structure
#topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @topbar-height-desktop;
	z-index: 100;

	padding: 0px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: @primary-dark;
	background: linear-gradient(90deg, @primary-dark, @primary-light);
	// border-bottom: 2px solid darken(@primary-dark, 0%);
	color: white;
	a {
		color: white;
	}

	box-shadow: 0px 1px 1px black;

	transition: height @trans-time;

	#menubutton {
		display: none;
		float: left;
		color: white;
	}
	#logo {
		// .vert-center;
	}
}
#sidebar {
	position: fixed;
	top: @topbar-height-desktop;
    bottom: 0;
	left: 0;
	padding: 10px 10px;
	// padding-top: @topbar-height-desktop;
	width: @sidebar-width-desktop;
	overflow-y: auto;

	border-right: 1px solid rgba(200,200,200,0.8);

	transition: all @trans-time;

	.backbutton-container {
		font-size: 22px;
		a {
			text-decoration: none;
		}
		padding: 5px;
		border-bottom: 1px solid rgba(200,200,200,0.8);
	}

	#sidebar-content {
		position: relative;
	}

}
#content-container {
	margin-left: @sidebar-width-desktop + 20px;
	margin-top: @topbar-height-desktop;
	padding: 1px 10px;

	transition: all @trans-time;

	#content-overlay {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100vw;
		height: 0vh;
		// visibility: hidden;
		z-index: 98;

		background: black;
		cursor: pointer;
		opacity: 0.3;

		transition: height @trans-time;
	}
}


// Mobile
@media screen and (max-width: @breakwidth){
	#topbar {
		height: @topbar-height-mobile;
		transition: all @trans-time;
		#menubutton {
			display: inline;
			font-size: 24px;
			cursor:pointer;
			transition: all 0.2s;
			&:hover {
				text-shadow: 2px 2px 2px black;
			}
		}
	}
	#sidebar {
		left: -@sidebar-width-mobile; // OFF OF SCREEN
        width: @sidebar-width-mobile;
		top: @topbar-height-mobile;
		opacity: 0.95;
		z-index: 99;
		transition: left @trans-time;
		background-color: white;
	}
	#content-container {
		margin-left: 0;
		margin-top: @topbar-height-mobile;

		transition: all @trans-time;
	}

	body.sidebar-shown {
		#sidebar {
			left: 0px;
			transition: left @trans-time;
		}
		#content-overlay{
			height: 100vh !important;
			transition: height @trans-time;
		}
	}

}
















.deleteItem {
    cursor: pointer;
    color: red;
}

.short-range {
    width: 50px;
}
.medium-range {
    width: 75px;
}
.long-range {
    width: 100px;
}

// Panels
.panel-large {
    border: 2px solid @primary-dark;
    border-radius: 5px;
    .panel-large-head {
        font-size: 28px;
        text-align: center;
        border-bottom: 2px solid @primary-dark;
        background: @primary-light;
        color: white;
        cursor: pointer;
    }
    .panel-large-body {
        display: block; // CHANGE TO NONE
        padding: 5px 15px;
    }
}

.panel-small {
    border: 2px solid @secondary-dark;
    border-radius: 4px;
    .panel-small-head {
        border-bottom: 2px solid @secondary-dark;
        padding: 5px;
        // cursor: pointer;
    }
    .panel-small-body {
        padding: 5px 15px;
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
    }
}


// List Styles
ul#windowList {
    list-style-type: none;
    padding-left: 0px;

    > li > h4 {
        margin-bottom: 5px;
        margin-top: 8px;
        margin-left: -5px;
        color: @primary-dark;
        font-weight: bold;
        border-bottom: 1px solid @primary-dark;
    }
}

ul#elementList {
    list-style-type: none;
    padding-left: 0px;
    // .elId {
    //     cursor: pointer;
    // }
    li {
        >p {
            border-bottom: 2px solid @primary-dark;
            font-weight: bold;
            color: @primary-dark;
        }
        ul {
            // padding-left: 10px;
            li {
                padding-bottom: 3px;
            }
        }
    }
    .deleteItem {
        // font-size: 20px;
        &:hover {
            // font-size: 110%;
            text-shadow: 1px 1px black;
            transition: all 0.2s;
        }
        transition: all 0.2s;
    }
}

#addNew {
    border-bottom: 4px solid @primary-dark;
    padding-bottom: 5px;
    font-style: italic;
    color: @primary-dark;
    font-weight: bold;
    font-size: 18px;
}



// GRID SYSTEM
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
